.Header {

    $header-border: solid 1px #555;

    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 4;
    min-height: 48px;


    .main-header, .secondary-header {
        background-color: black;
        line-height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
    }

    .main-header {
        height: $header-height;
        .nav-buttons {
            @media screen and (max-width: $mobile-width) {
                display: none;
            }
        }

        .source-button {
            margin-left: auto;
            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                svg {
                    width: 20px;
                    height: 20px;
                    margin-left: 5px;
                }
            }
        }
    }
    .secondary-header {
        height: $header-height;
        border-top: $header-border;
        @media screen and (min-width: $mobile-width) {
            display: none;
        }
    }

    .title-container {
        margin: 0px 20px;
        @media screen and (min-width: $mobile-width) {
            margin: 0px 30px;
        }
    }

    .title {
        font-size: 18px;
        font-weight: 700;
        line-height: 48px;
        a, a:hover {
            color: #fff;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }


    .action {
        a, a:hover {
            color: #fff;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        padding: 0px 15px;

        border-right: $header-border;
        border-left: $header-border;
    }


    .nav-buttons {
        display: flex;
        flex-direction: row;

        margin: 0px auto;
        @media screen and (min-width: $mobile-width) {
            margin-left: 20%;
        }


        .nav-button {
            border-left: 0;
            &:first-child {
                border-left: $header-border;
            }
            &.current {
                background-color: #41a62a;
            }
        }


    }

    h1, h2 {
        margin: 0px;
    }

}
