.LeftSidebar {
    width: 162px;
    height: 100%;
    background-color: black;
    padding: 45px 30px 0px 30px;
    float: left;
    border-top: solid 1px rgba(255,255,255,0.2);

    font-size: 12px;
    line-height: 1.5;

    .list {
        margin-bottom: 50px;
    }

    .title {
        font-size: 11px;
        font-weight: 900;
        line-height: 1.6363636363;
        margin-bottom: 18px;
        margin: 0 0 24px 0;
        text-transform: uppercase;
    }

    .title, .title a {
        color: #fff;
    }

    a {
        color: #fff;
    }

    a:hover {
        color: #41a62a;
    }

    ul {
        list-style: none;
        margin: 0;
    }

    li {
        padding: 0 0 6px;
    }
}
