
.MainLayout {
    display: flex;
    flex-direction: column;

    .main {
        margin-top: 2 * $header-height;
        min-height: 100vh;
        display: flex;
        flex-direction: row;

        @media screen and (min-width: $mobile-width) {
            margin-top: $header-height;
        }
    }

    .left-sidebar-container {
        @media screen and (max-width: $mobile-width) {
            display: none;
        }
    }

    .main-content {
        flex-grow: 1;
    }

    .main-content-eeeeeeee {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .right-sidebar-placeholder {
        padding-top: 72px;
        border: 0;
        width: 24%;
        padding: 48px 30px 24px;
        position: relative;

        @media screen and (max-width: $mobile-width) {
            display: none;
        }
    }

}
