.SocialLinks {
    .social-link {
        display: flex;
        .icon {
            svg {
                //stroke: white,
                width: 16px;
                height: 16px;
                fill: white;
            }
        }
        .external-link {
            display: none;
            margin-left: 5px;
        }
        .name {
            margin-left: 5px;
        }
        &:hover {
            .external-link {
                display: block;
            }
        }
    }
}
