<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) & !(IE 8)]><!-->
<html lang="en-US">
<!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        {{#if description}}
        <meta name="description" content="{{description}}">
        {{/if}}
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        {{#if activateGoogleAnalytics}}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58505998-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-58505998-1');
        </script>
        {{/if}}

        {{#if activateGoogleAdSense}}
        <!--Google AdSense-->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-9511215937776215",
                enable_page_level_ads: true
            });
        </script>
        {{/if}}


    </head>
    <body style="margin:0">
        <div id="app">{{{body}}}</div>
    </body>
</html>
